// A better looking default horizontal rule
hr
    display block
    height 1px
    border 0
    border-top 1px solid #ccc
    margin 1em 0
    padding 0

// Remove the gap between images, videos, audio and canvas and the bottom of
// their containers: h5bp.com/i/440
audio,
canvas,
img,
video
    vertical-align middle


// Allow only vertical resizing of textareas.
textarea
    resize vertical


// GET OFF MY LAWN, SKYPE!
span.skype_pnh_container 
    display none !important

span.skype_pnh_print_container 
    display inline !important


h1
    font-weight 900
    a
        text-decoration none
        color c5
        &:hover
            color c1

#main
    background-color #e7e7e7


.subtitle
    text-transform uppercase
    display block
    position relative
    top -1em
    letter-spacing 0.1em

a
    color c1
    &:hover
        color c5
