
/* line 22 : /home/clash/envs/bropro/marim/app/styles/base.styl */

/* line 1 : /home/clash/envs/bropro/marim/node_modules/stylus/lib/functions/index.styl */

/* line 5 : /home/clash/envs/bropro/marim/app/styles/base.styl */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 15 : /home/clash/envs/bropro/marim/app/styles/base.styl */
audio,
canvas,
img,
video {
  vertical-align: middle;
}

/* line 20 : /home/clash/envs/bropro/marim/app/styles/base.styl */
textarea {
  resize: vertical;
}


/* line 2 : /home/clash/envs/bropro/marim/app/styles/layout.styl */

/* line 1 : /home/clash/envs/bropro/marim/node_modules/stylus/lib/functions/index.styl */


/* line 865 : /home/clash/envs/bropro/marim/app/styles/main.styl */

/* line 1 : /home/clash/envs/bropro/marim/node_modules/stylus/lib/functions/index.styl */

/* line 293 : /home/clash/envs/bropro/marim/node_modules/stylus/lib/functions/index.styl */

/* line 2 : /home/clash/envs/bropro/marim/app/styles/site-settings.styl */

/* line 37 : /home/clash/envs/bropro/marim/app/styles/site-settings.styl */

/* line 1 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/shame.styl */

/* line 28 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/shame.styl */

/* line 2 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/utilities.styl */

/* line 88 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/utilities.styl */
body,
.cf,
.browsehappy p {
  *zoom: 1;
}

/* line 83 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/utilities.styl */
body:before,
.cf:before,
.browsehappy p:before,
body:after,
.cf:after,
.browsehappy p:after {
  content: '';
  display: table;
}

/* line 86 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/utilities.styl */
body:after,
.cf:after,
.browsehappy p:after {
  clear: both;
}

/* line 122 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/utilities.styl */

/* line 33 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/reset.styl */

/* line 34 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/reset.styl */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/* line 36 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/reset.styl */
audio,
canvas,
video {
  display: inline-block;
}

/* line 38 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/reset.styl */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 41 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/reset.styl */
[hidden],
template {
  display: none;
}

/* line 43 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/reset.styl */
html {
  font-family: sans-serif;
  text-size-adjust: 100%;
}

/* line 46 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/reset.styl */
body {
  margin: 0;
}

/* line 48 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/reset.styl */
a {
  background: transparent;
}

/* line 50 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/reset.styl */
a:focus {
  outline: thin dotted;
}

/* line 52 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/reset.styl */
a:active,
a:hover {
  outline: 0;
}

/* line 54 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/reset.styl */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 57 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/reset.styl */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 59 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/reset.styl */
b,
strong {
  font-weight: bold;
}

/* line 61 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/reset.styl */
dfn {
  font-style: italic;
}

/* line 63 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/reset.styl */
hr {
  box-sizing: content-box;
  height: 0;
}

/* line 66 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/reset.styl */
mark {
  background: #ff0;
  color: #000;
}

/* line 69 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/reset.styl */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/* line 72 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/reset.styl */
pre {
  white-space: pre-wrap;
}

/* line 74 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/reset.styl */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/* line 76 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/reset.styl */
small {
  font-size: 80%;
}

/* line 78 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/reset.styl */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 83 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/reset.styl */
sup {
  top: -0.5em;
}

/* line 85 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/reset.styl */
sub {
  bottom: -0.25em;
}

/* line 87 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/reset.styl */
img {
  border: 0;
}

/* line 89 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/reset.styl */
svg:not(:root) {
  overflow: hidden;
}

/* line 91 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/reset.styl */
figure {
  margin: 0;
}

/* line 93 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/reset.styl */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 97 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/reset.styl */
legend {
  border: 0;
  padding: 0;
}

/* line 100 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/reset.styl */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

/* line 104 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/reset.styl */
button,
input {
  line-height: normal;
}

/* line 106 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/reset.styl */
button,
select {
  text-transform: none;
}

/* line 108 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/reset.styl */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 111 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/reset.styl */
button[disabled],
html input[disabled] {
  cursor: default;
}

/* line 113 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/reset.styl */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 116 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/reset.styl */
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

/* line 119 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/reset.styl */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 121 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/reset.styl */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 124 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/reset.styl */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 127 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/reset.styl */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 132 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/reset.styl */
*,
*:before,
*:after,
*::before,
*::after {
  *behavior: url("js/vendor/boxsizing.htc");
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* line 137 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/reset.styl */
html {
  overflow-y: scroll;
  overflow-x: hidden;
}

/* line 140 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/reset.styl */
body {
  width: 100%;
}

/* line 143 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/reset.styl */
img,
video,
audio,
embed,
object,
input,
iframe {
  max-width: 100%;
}

/* line 145 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/reset.styl */

/* line 147 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/reset.styl */
.browsehappy {
  width: 100%;
  padding: 15px 0;
  background: #fff;
  border-bottom: 1px solid #ddd;
}

/* line 152 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/reset.styl */
.browsehappy p {
  width: auto;
  max-width: 1410px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}

/* line 155 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/reset.styl */
.browsehappy p:last-of-type {
  margin-bottom: 0;
}

/* line 157 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/reset.styl */
.browsehappy a {
  color: #00a6fc;
}

/* line 159 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/reset.styl */

/* line 2 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/grid.styl */

/* line 74 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/grid.styl */

/* line 2 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/typography.styl */

/* line 62 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/typography.styl */
html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
  color: #444;
  font-size: 15px;
  line-height: 22.5px;
}

/* line 68 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/typography.styl */
a {
  color: #00a6fc;
}

/* line 70 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/typography.styl */
a:hover {
  color: #0095e3;
}

/* line 72 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/typography.styl */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dt,
pre,
code {
  margin-top: 0;
}

/* line 74 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/typography.styl */
h1,
h2,
h3,
h4,
h5,
h6,
dt {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
  color: #111;
  letter-spacing: -0.015em;
}

/* line 126 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/typography.styl */
h1 {
  font-size: 42px;
  line-height: 45px;
  margin-bottom: 15px;
}

/* line 130 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/typography.styl */
h2 {
  font-size: 37.5px;
  line-height: 42px;
  margin-bottom: 12px;
}

/* line 134 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/typography.styl */
h3 {
  font-size: 33px;
  line-height: 39px;
  margin-bottom: 9px;
}

/* line 138 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/typography.styl */
h4 {
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 6px;
}

/* line 142 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/typography.styl */
h5 {
  font-size: 24px;
  line-height: 33px;
  margin-bottom: 3px;
}

/* line 146 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/typography.styl */
h6 {
  font-size: 19.5px;
  line-height: 30px;
  margin-bottom: 0px;
}

/* line 150 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/typography.styl */
p,
ul,
ol,
pre,
dl {
  margin-bottom: 15px;
}

/* line 152 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/typography.styl */
ul,
ol {
  padding-left: 1.4em;
}

/* line 154 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/typography.styl */
li,
dd {
  margin-bottom: 7.5px;
}

/* line 156 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/typography.styl */
pre {
  font-size: 12px;
}

/* line 158 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/typography.styl */

/* line 159 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/typography.styl */
header p {
  color: #aaa;
}

/* line 161 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/typography.styl */

/* line 162 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/typography.styl */
header h1 ~ p {
  margin-top: -7.5px;
}

/* line 164 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/typography.styl */

/* line 165 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/typography.styl */
header h2 ~ p {
  margin-top: -6px;
}

/* line 167 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/typography.styl */

/* line 168 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/typography.styl */
header h3 ~ p {
  margin-top: -4.5px;
}

/* line 170 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/typography.styl */

/* line 171 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/typography.styl */
header h4 ~ p {
  margin-top: -3px;
}

/* line 173 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/typography.styl */

/* line 174 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/typography.styl */
header h5 ~ p {
  margin-top: -1.5px;
}

/* line 176 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/typography.styl */

/* line 177 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/typography.styl */
header h6 ~ p {
  margin-top: -1.5px;
}

/* line 179 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/typography.styl */
code {
  padding: 3px 4px;
  color: #444;
  background-color: #f5f5f5;
  border: 1px solid #e1e1e8;
  border-radius: 3px;
  font-family: Menlo, Monaco, monospace;
}

/* line 186 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/typography.styl */
pre {
  display: block;
  padding: 7px;
  background-color: #f5f5f5;
  border: 1px solid #e1e1e8;
  border-radius: 3px;
  white-space: pre-wrap;
  word-break: break-all;
  font-family: Menlo, Monaco, monospace;
  line-height: 160%;
}
@media all and (min-width: 705px) {

/* line 199 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/typography.styl */
html {
  font-size: 18.75px;
  line-height: 28.125px;
}

/* line 202 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/typography.styl */
h1 {
  font-size: 52.5px;
  line-height: 56.25px;
  margin-bottom: 18.75px;
}

/* line 206 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/typography.styl */
h2 {
  font-size: 46.875px;
  line-height: 52.5px;
  margin-bottom: 15px;
}

/* line 210 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/typography.styl */
h3 {
  font-size: 41.25px;
  line-height: 48.75px;
  margin-bottom: 11.25px;
}

/* line 214 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/typography.styl */
h4 {
  font-size: 35.625px;
  line-height: 45px;
  margin-bottom: 7.5px;
}

/* line 218 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/typography.styl */
h5 {
  font-size: 30px;
  line-height: 41.25px;
  margin-bottom: 3.75px;
}

/* line 222 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/typography.styl */
h6 {
  font-size: 24.375px;
  line-height: 37.5px;
  margin-bottom: 0px;
}

/* line 226 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/typography.styl */
p,
ul,
ol,
pre,
dl {
  margin-bottom: 18.75px;
}

/* line 228 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/typography.styl */
li,
dd {
  margin-bottom: 9.375px;
}

/* line 230 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/typography.styl */
pre {
  font-size: 15px;
}

/* line 232 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/typography.styl */

/* line 233 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/typography.styl */

/* line 234 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/typography.styl */
header h1 ~ p {
  margin-top: -9.375px;
}

/* line 236 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/typography.styl */

/* line 237 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/typography.styl */
header h2 ~ p {
  margin-top: -7.5px;
}

/* line 239 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/typography.styl */

/* line 240 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/typography.styl */
header h3 ~ p {
  margin-top: -5.625px;
}

/* line 242 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/typography.styl */

/* line 243 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/typography.styl */
header h4 ~ p {
  margin-top: -3.75px;
}

/* line 245 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/typography.styl */

/* line 246 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/typography.styl */
header h5 ~ p {
  margin-top: -1.875px;
}

/* line 248 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/typography.styl */

/* line 249 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/typography.styl */
header h6 ~ p {
  margin-top: -1.875px;
}
}

/* line 252 : /home/clash/envs/bropro/marim/app/bower_components/jeet/css/jeet/typography.styl */

/* line 5 : /home/clash/envs/bropro/marim/app/styles/base.styl */

/* line 5 : /home/clash/envs/bropro/marim/app/styles/base.styl */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 15 : /home/clash/envs/bropro/marim/app/styles/base.styl */
audio,
canvas,
img,
video {
  vertical-align: middle;
}

/* line 20 : /home/clash/envs/bropro/marim/app/styles/base.styl */
textarea {
  resize: vertical;
}

/* line 71 : /home/clash/envs/bropro/marim/app/styles/main.styl */
/*  Syntax Quick Reference
    ----------------------
    center(max_width = 1410px, padding = 15px)
    column[col](ratios = 1, offset = false)
    span(ratio = 1, offset = false)
    shift(ratios = 0)
    unshift()
    bp(w = 705px, mf = mobile_first)
    endbp()
    stack(padding = 0, align = center[c, left, l, right, r])
    unstack()
    edit()
    cf()
*/


/* line 37 : /home/clash/envs/bropro/marim/app/styles/site-settings.styl */

/* line 1 : /home/clash/envs/bropro/marim/node_modules/stylus/lib/functions/index.styl */


/* line 293 : /home/clash/envs/bropro/marim/app/styles/states.styl */

/* line 1 : /home/clash/envs/bropro/marim/node_modules/stylus/lib/functions/index.styl */


/* line 293 : /home/clash/envs/bropro/marim/app/styles/theme.styl */

/* line 1 : /home/clash/envs/bropro/marim/node_modules/stylus/lib/functions/index.styl */
