/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

// ::-moz-selection
//     background c1
//     color #272727
//     text-shadow none
//
// ::selection
//     background c1
//     color #272727
//     text-shadow none


/*
 * A better looking default horizontal rule
 */

hr
    display block
    height 1px
    border 0
    border-top 1px solid #ccc
    margin 1em 0
    padding 0

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video
    vertical-align middle

/*
 * Remove default fieldset styles.
 */

fieldset
    border 0
    margin 0
    padding 0

/*
 * Allow only vertical resizing of textareas.
 */

textarea
    resize vertical


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

ir()
    background-color transparent
    border 0
    overflow hidden
    /* IE 6/7 fallback */
    *text-indent -9999px
    &:before
        content: "";
        display: block;
        width: 0;
        height: 150%;
/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

hidden()
    display none !important
    visibility hidden

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

visuallyhidden()
    border 0
    clip rect(0 0 0 0)
    height 1px
    margin -1px
    overflow hidden
    padding 0
    position absolute
    width 1px

/*
 * Hide visually and from screenreaders, but maintain layout
 */

invisible()
    visibility hidden


/* ==========================================================================
    Imports and variables
   ========================================================================== */

/*  Syntax Quick Reference
    ----------------------
    edit()
    center(max_width = 1410px, pad = 0)
    bp(w = breakpoint, mf = mobile_first)
    endbp()
    stack(pad = 0, align = center)
    unstack()
    align(direction = both)
    cf()
    column(ratios = 1, offset = 0, cycle = 0, uncycle = 0)
    span(ratio = 1, offset = 0)
    shift(ratios = 0, col_or_span = column)
    unshift()
*/

@import '../bower_components/jeet/css/jeet/index'

// edit()


/* ==========================================================================
    General
   ========================================================================== */

#inner-wrap, #outer-wrap
    position relative
    width 100%

#outer-wrap
    overflow hidden

.inner-wrapper
    max-width 63.577em
    margin 0 auto


/* ==========================================================================
    Header & Navigation
   ========================================================================== */

// Navigation
#top
    z-index 100
    position relative
    .inner-wrapper
        text-align center

#nav
    position relative
    z-index 200
    width 100%
    overflow hidden
    border-bottom 1px solid #ccc
    .inner-wrapper
        z-index 2
        position relative
    ul
        @extends $cf
    li
        display block
        a
            text-transform uppercase
            font-size ms(12)
            font-weight 900
            display block

#nav-open, #nav-close
    display block
    width 3.43em
    height 3.43em
    text-indent 100%
    white-space nowrap
    position absolute
    overflow hidden
    top 1.25em
    left 1.875em
    -webkit-tap-highlight-color rgba(0,0,0,0)
    -webkit-touch-callout none
    -webkit-user-select none
    -moz-user-select none
    -ms-user-select none
    -o-user-select none
    user-select none



@media screen and (-webkit-min-device-pixel-ratio: 1.3), screen and (min--moz-device-pixel-ratio: 1.3), screen and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-device-pixel-ratio: 1.3), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx)
    #nav-open
        // #TODO retina img
        background-image blue 100% 100%
        -webkit-background-size 100px 100px
        -moz-background-size 100px 100px
        -o-background-size 100px 100px
        background-size 100px 100px


@media screen and (min-width: 44.0625em)
    #nav-open, #nav-close
        visuallyhidden()
    #nav
        text-align center
        ul
            padding-left 0
        .active a
            border-bottom 5px solid black
            margin-bottom -5px
        li
            span(1/4)
            display inline-block
            &:last-child
                border-right none
            a
                text-decoration none
                &:focus,
                &:active,
                &:hover
                    border-bottom 5px solid hover_color
                    margin-bottom -5px

    #fsearch
        width 65%


@media screen and (max-width: 44em)
    #main
        padding-top 2em
    #nav
        li a
            line-height 3em
            text-decoration none
        position absolute
        top 0
        padding-top 7.5em
        &:not(:target)
            z-index 1
            height 0
        &:target #nav-close
            display block
        #nav-close
            position absolute
            top -6.25em
            right 1.875em

    .js-ready #nav
        left -70%
        height 100%
        width 70%
        .inner-wrapper
            background transparent
        #nav-close, #nav-open
            display block
        #inner-wrap
            left 0

    .js-nav
        #inner-wrap
            left 70%

    .csstransforms3d.csstransitions.js-ready
        #nav
            left 0
            -webkit-transform translate3d(-100%, 0, 0)
            -moz-transform translate3d(-100%, 0, 0)
            -ms-transform translate3d(-100%, 0, 0)
            -o-transform translate3d(-100%, 0, 0)
            transform translate3d(-100%, 0, 0)
            -webkit-backface-visibility hidden
            -moz-backface-visibility hidden
            -ms-backface-visibility hidden
            -o-backface-visibility hidden
            backface-visibility hidden
        #inner-wrap
            left 0 !important
            -webkit-transform translate3d(0, 0, 0)
            -moz-transform translate3d(0, 0, 0)
            -ms-transform translate3d(0, 0, 0)
            -o-transform translate3d(0, 0, 0)
            transform translate3d(0, 0, 0)
            -webkit-transition -webkit-transform 500ms ease
            -moz-transition -moz-transform 500ms ease
            -o-transition -o-transform 500ms ease
            transition transform 500ms ease
            -webkit-backface-visibility hidden
            -moz-backface-visibility hidden
            -ms-backface-visibility hidden
            -o-backface-visibility hidden
            backface-visibility hidden
        #nav .inner-wrapper
            opacity 0.7
            -webkit-transition opacity 300ms 100ms, -webkit-transform 500ms ease
            -webkit-transition-delay ease 0s
            -moz-transition opacity 300ms 100m ease, -moz-transform 500ms ease
            -o-transition opacity 300ms 100ms ease, -o-transform 500ms ease
            transition opacity 300ms 100ms ease, transform 500ms ease
            -webkit-transform translate3d(70%, 0, 0) scale3d(0.9, 0.9, 0.9)
            -moz-transform translate3d(70%, 0, 0) scale3d(0.9, 0.9, 0.9)
            -ms-transform translate3d(70%, 0, 0) scale3d(0.9, 0.9, 0.9)
            -o-transform translate3d(70%, 0, 0) scale3d(0.9, 0.9, 0.9)
            transform translate3d(70%, 0, 0) scale3d(0.9, 0.9, 0.9)
            -webkit-transform-origin 50% 0%
            -moz-transform-origin 50% 0%
            -ms-transform-origin 50% 0%
            -o-transform-origin 50% 0%
            transform-origin 50% 0%


    .csstransforms3d.csstransitions.js-nav
        #inner-wrap
            -webkit-transform translate3d(70%, 0, 0) scale3d(1, 1, 1)
            -moz-transform translate3d(70%, 0, 0) scale3d(1, 1, 1)
            -ms-transform translate3d(70%, 0, 0) scale3d(1, 1, 1)
            -o-transform translate3d(70%, 0, 0) scale3d(1, 1, 1)
            transform translate3d(70%, 0, 0) scale3d(1, 1, 1)
        #nav
            .inner-wrapper
                opacity 1
                -webkit-transform translate3d(0, 0, 0)
                -moz-transform translate3d(0, 0, 0)
                -ms-transform translate3d(0, 0, 0)
                -o-transform translate3d(0, 0, 0)
                transform translate3d(0, 0, 0)

.menu-icon
    display inline
    width ms(25)
    height ms(25)
    margin-right ms(6)


#tyre-list,
#rim-list,
#service-list
    ul
        list-style-type none
        padding-left 0
    li
        @extends $cf
        background white
        border 1px solid #ccc
        border-bottom none
        padding ms(10)
        margin-bottom 0
        &:last-child
            border-bottom 1px solid #ccc
        img
            max-width 100%
            max-height 100%
    .name
        display block
        width 100%
        font-size ms(12)
        line-height ms(14)
        margin-bottom ms(2)
    .price
        font-size ms(12)
        line-height ms(14)
        margin-bottom ms(2)
    .image-section
        span(1/8)
    .specification
        span(5/8)
    .offer
        span(1/4)
        text-align right


// Looks

.gallery
    ul
        list-style-type none

.rslides
    position relative
    list-style none
    overflow hidden
    width 100%
    padding 0
    margin 0


.rslides li
    -webkit-backface-visibility hidden
    position absolute
    display none
    width 100%
    left 0
    top 0


.rslides lifirst-child
    position relative
    display block
    float left


.rslides img
    display block
    height auto
    float left
    width 100%
    border 0


#main
    background-color #e7e7e7

#main .inner-wrapper,
footer .inner-wrapper
    padding-left 1.875em
    padding-right 1.875em

#main .inner-wrapper
    padding-top 1.875em
    padding-bottom 1.875em

.filter-list
    padding ms(10) 0
    .filter
        margin-right ms(10)
        .active
            color c1

.price
    font-weight 900
    color limegreen


.filter-list
    .filter
        background #ccc
        margin-left ms(2)
        text-decoration none

#nav-open
    background blue no-repeat 100% 100%

#nav-close
    background red no-repeat 100% 100%

h1
    font-weight 900
    a
        text-decoration none

.subtitle
    text-transform uppercase
    display block
    position relative
    top -1em
    letter-spacing 0.1em


@media screen and (max-width: 44em)
    .logo,
    .subtitle
        background c8
    .subtitle
        padding-bottom 1em
    #nav
        // background c4
        ul
            padding-left 0
        a
            padding-left 1.875em
            &:focus,
            &:active,
            &:hover
                // color c5
                // background-color c3
        li.active
            a
                // color c1
            &:after
                z-index 50
                display block
                width 5%
                float right
                content ""
                position relative
                top -1.5em
                right -0.03125em
                margin-top -0.625em
                border-top 0.625em transparent solid
                border-bottom 0.625em transparent solid
                border-right 0.625em white solid
    #main .inner-wrapper
        padding-top 1.875em
    #fsearch
        width 75%


@media screen and (min-width: 44.0625em)
    .subtitle
        margin-bottom 1em
        padding 0.325em 0


/* ==========================================================================
    Main Content
   ========================================================================== */

#main .inner-wrapper
    min-height 900px

// Brandband
.brandband
    clear both
    .brand
        width 75px
        height 25px
        margin-right 1em
        margin-top 1em
        display inline-block

table
    border 1px solid #ddd
    td,
    th
        white-space nowrap

    tr:nth-child(odd) td
    tr:nth-child(odd) th
        background #eee

    th+th,
    td+td,
    th+td,
    td+th
        border-left 1px solid #ddd
    th:not(:first-child):hover
       cursor pointer
       text-decoration underline


.bridgestone
    background url('http://www.placecage.com/g/180/150') no-repeat -15px 0px
.aeolus
    background url('http://www.placecage.com/g/180/150') no-repeat 0px 0px
.firestone
    background url('http://www.placecage.com/g/180/150') no-repeat -30px -50px
.fulda
    background url('http://www.placecage.com/g/180/150') no-repeat -45px -75px
.goodyear
    background url('http://www.placecage.com/g/180/150') no-repeat -60px 0px
.kormoran
    background url('http://www.placecage.com/g/180/150') no-repeat 0px -25px
.matador
    background url('http://www.placecage.com/g/180/150') no-repeat -15px -50px
.michelin
    background url('http://www.placecage.com/g/180/150') no-repeat -30px -75px
.kumho
    background url('http://www.placecage.com/g/180/150') no-repeat -75px -25px


/* ==========================================================================
    Footer
   ========================================================================== */
.footernav,
.footerinfo,
.footercontact,
.footerform,
.footerhours,
.footersearch
    stack()

.footerrow
    @extends $cf
    h6
        font-weight 900
        padding-bottom ms(10)
    &:first-child
        background-color c3
        color black
        padding-top 2.5em
        padding-bottom 2em
        a:hover
            color white
    &:nth-child(2)
        background-color c4
        padding-top 2.5em
        padding-bottom 2.5em
        h6
            color c1
        a,
        label
            color white
        a:hover
            color c1
    &:last-child
        background-color c5
        color c4
        a
            color c4
        padding 1.2em 0

@media screen and (min-width: 44.0625em)
    .footerform,
    .footercontact,
    .footerhours
        unstack()
        col(1/3)
    .footernav,
    .footerinfo
    .footersearch
        unstack()
        col(1/3)

footer ul
    list-style none
    a
        text-decoration none

.backtop
    float: right

.flagbox
    height 1em
    width 1 em
    display inline-block
    vertical-align center
    position relative

.flag
    display inline-block

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea
        display block
        font-size 0.77778rem
        margin 0 0 0.88889rem 0
        padding 0.44444rem
        height 2.05556rem
        width 100%
        -webkit-appearance none
        -webkit-border-radius 0
        border-radius 0
        background-color white
        font-family inherit
        border 1px solid #cccccc
        -webkit-box-shadow inset 0 1px 2px rgba(0, 0, 0, 0.1)
        box-shadow inset 0 1px 2px rgba(0, 0, 0, 0.1)
        color rgba(0, 0, 0, 0.75)
        -moz-box-sizing border-box
        -webkit-box-sizing border-box
        box-sizing border-box
        -webkit-transition -webkit-box-shadow 0.45s, border-color 0.45s ease-in-out
        -moz-transition -moz-box-shadow 0.45s, border-color 0.45s ease-in-out
        transition box-shadow 0.45s, border-color 0.45s ease-in-out
        -webkit-transition all 0.15s linear
        -moz-transition all 0.15s linear
        transition all 0.15s linear

textarea
    height 4rem

input[type="file"],
input[type="checkbox"],
input[type="radio"],
select
        margin 0 0 0.88889rem 0

select
    background #f2f2f2
    border 1px solid #cccccc
    padding 0.44444rem
    font-size 0.77778rem
    -webkit-border-radius 0
    border-radius 0
    width 100%

label
    font-size 0.77778rem
    cursor pointer
    display block
    font-weight normal
    margin-bottom 0.44444rem

.btn
    border none
    float right
    padding-right 1.77778rem
    padding-left 1.77778rem
    padding-top 0.94444rem
    padding-bottom 0.88889rem
    -webkit-transition background-color 300ms ease-out
    -moz-transition background-color 300ms ease-out
    transition background-color 300ms ease-out
    &:active,
    &:focus,
    &:hover
        background-color c1

.error
    display block
    padding 0.33333rem 0.5rem 0.5rem
    margin-top -.89rem
    margin-bottom 0.88889rem
    font-size 0.66667rem
    font-weight normal
    font-style italic
    background red
    color white

.footercontact
    em
        display block
        margin-bottom -.325em

.footersearch
    form
        margin-top 1em
    input
        display inline-block
        float left
    .btn
        width 25%
        height 2.05556rem
        margin 0
        padding 0

/*
 * GET OFF MY LAWN, SKYPE!
 */
span.skype_pnh_container {
    display: none !important;
}

span.skype_pnh_print_container {
    display: inline !important;
}


/* SVGS
=========================================== */

/* latvia */
.lv {
 background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2MDAgMzAwIj4NCjxwYXRoIGZpbGw9IiM4NjE2MjMiIGQ9Im0wLDBoNjAwdjMwMGgtNjAweiIvPg0KPHBhdGggZmlsbD0iI2ZmZiIgZD0ibTAsMTIwaDYwMHY2MGgtNjAweiIvPg0KPC9zdmc+DQo=');
 width: 100%;
 height: 100%;
 background-size: 100% 100%;
}

/* russia */
.ru {
 background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0NTAgMzAwIj4NCjxwYXRoIGZpbGw9IiNmZmYiIGQ9Im0wLDBoNDUwdjEwMGgtNDUweiIvPg0KPHBhdGggZmlsbD0iIzAwZiIgZD0ibTAsMTAwaDQ1MHYxMDBoLTQ1MHoiLz4NCjxwYXRoIGZpbGw9IiNmMDAiIGQ9Im0wLDIwMGg0NTB2MTAwaC00NTB6Ii8+DQo8L3N2Zz4NCg==');
 width: 100%;
 height: 100%;
 background-size: 100% 100%;
}

/* united_kingdom */
.gb {
 background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIwMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNjAgMzAiIGhlaWdodD0iNjAwIj4NCjxkZWZzPg0KPGNsaXBQYXRoIGlkPSJ0Ij4NCjxwYXRoIGQ9Im0zMCwxNWgzMHYxNXp2MTVoLTMwemgtMzB2LTE1enYtMTVoMzB6Ii8+DQo8L2NsaXBQYXRoPg0KPC9kZWZzPg0KPHBhdGggZmlsbD0iIzAwMjQ3ZCIgZD0ibTAsMHYzMGg2MHYtMzB6Ii8+DQo8cGF0aCBzdHJva2U9IiNmZmYiIHN0cm9rZS13aWR0aD0iNiIgZD0ibTAsMGw2MCwzMG0wLTMwbC02MCwzMCIvPg0KPHBhdGggc3Ryb2tlPSIjY2YxNDJiIiBzdHJva2Utd2lkdGg9IjQiIGQ9Im0wLDBsNjAsMzBtMC0zMGwtNjAsMzAiIGNsaXAtcGF0aD0idXJsKCN0KSIvPg0KPHBhdGggc3Ryb2tlPSIjZmZmIiBzdHJva2Utd2lkdGg9IjEwIiBkPSJtMzAsMHYzMG0tMzAtMTVoNjAiLz4NCjxwYXRoIHN0cm9rZT0iI2NmMTQyYiIgc3Ryb2tlLXdpZHRoPSI2IiBkPSJtMzAsMHYzMG0tMzAtMTVoNjAiLz4NCjwvc3ZnPg0K');
 width: 100%;
 height: 100%;
 background-size: 100% 100%;
}

/* germany */
.de {
 background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiBoZWlnaHQ9IjYwMCIgdmlld0JveD0iMCAwIDUgMyI+DQo8cGF0aCBkPSJtMCwwaDV2M2gtNXoiLz4NCjxwYXRoIGZpbGw9IiNkMDAiIGQ9Im0wLDFoNXYyaC01eiIvPg0KPHBhdGggZmlsbD0iI2ZmY2UwMCIgZD0ibTAsMmg1djFoLTV6Ii8+DQo8L3N2Zz4NCg==');
 width: 100%;
 height: 100%;
 background-size: 100% 100%;
}



/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
