// Product and Service List
.price
    font-weight 900
    color limegreen

.filter-list
    padding ms(10) 0
    .filter
        background #ccc
        margin-left ms(2)
        margin-right ms(10)
        text-decoration none
    .active
        color c1


// Forms



// Tables
