/* all app scss styles here */

/* Colorscheme: Modified Sea Wolf */
// $c1: #ff6726;  /* pure orange */
// $c2: #d9cb9e;  /* cream beige */
// $c3: #374140;  /* tire gray */
// $c4: #2a2c2b;  /* asphalt */
// $c5: #1e1e20;  /* night */

/* Temp styles */
/* =========== */
#main { min-height: 200px; }


.main-outer-wrap {
}

.main-section
{
  background-color: #f7f7f7;
}

.example-orbit-content {
  max-height: 1500px;
}

/* Settings */
/* ======== */


footer li {
  list-style-type: none;
}

/* Base */
/* ==== */


/* Layout */
/* ====== */


.main-section > .row {
  padding: rem-calc(20);
  &:first-child {
    padding-top: rem-calc(40);
  }
}


.featured {
  img {
    max-height: 400px;
  }
}

/* Modules */
/* ======= */

footer .mobile { display: block; }

/* Top-bar */
.menu-icon, .fa,
.top-bar-section .menu-icon {
  margin-right: rem-calc(8);
}

.tab-bar h1.name {
    padding-right: rem-calc(20);
}

.top-bar-mini {
   height: rem-calc(20);
   line-height: rem-calc(20);
   text-transform: uppercase;
   color: $c5;
   font-size: 0.6875rem;
   background: $c2;

}

/*  Flags */
.flag {
  width: 16px;
  height: 11px;
  display: inline-block;
}

/* Brandband */

.brandband {
  padding-top: rem-calc(14);
  padding-bottom: rem-calc(20);
}

.brand-small {
  height: 37px;
  width: 126px;
  display: inline-block;
}

.bridgestone { background: url('/images/bridgestone.png'); }
.aeolus { background: url('/images/dunlop.png'); }
.firestone { background: url('/images/firestone.png'); }
.fulda { background: url('/images/fulda.png'); }
.goodyear { background: url('/images/goodyear.png'); }
.kormoran { background: url('/images/kormoran.png'); }
.matador { background: url('/images/matador.png'); }
.michelin { background: url('/images/michelin.png'); }
.kumho { background: url('/images/kumho.png'); }




/* Flexible iFrame */
.flexible {
    position: relative;
    padding-top: 30px;
    height: 350px;
    overflow: hidden;
}

.flexible iframe,
.flexible object,
.flexible embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#cover {
  z-index: 500;
  top: 17%;
  left: 10%;
  bottom: 0;
  right: 2%;
  position: absolute;
}

#map-canvas {
    width: 100%;
    height: 250px;
}


/* Product */
li.product {
  list-style-type: none;
  .description {
    font-weight: normal;
  }
  .brand-small {
    display: block;
    margin: 0 auto;
  }
}

.brand.hidden {
    display: none;
}

.product {
  .productwrap {
    margin-top: 5%;
  }
  .name,
  .purchase,
  .notes {
    text-align: center;
  }
  .name {
    padding: rem-calc(10) rem-calc(10);
    background: $c4;
    color: $c1;
  }
  .pic,
  .purchase {
    padding-top: 5%;
  }
  .price {
    font-size: rem-calc(20);
    font-weight: bold;
    display: block;
    padding: 0 20%;
  }
  .model {
    font-weight: bold;
  }
  .button {
    margin-bottom: 0;
  }
  .pic img {
    display: block;
    margin: 0 auto;

  }
}

/* Shopping Cart */

.cart {
    li {
        list-style-type: none;
        line-height: 2.5;
    }
    .title {
        font-weight: bold;
    }
    .remove {
        color: #ccc;
        &:hover {
            color: $alert-color;
        }
    }
    .name {

    }
}


.tab-bar .shopping-cart,
.top-bar .shopping-cart {
    a {
        color: limegreen;
    }
    &:hover {
        color: $c4;
    }
}

/* States */
/* ====== */

/* Tabs */
.tabs .active a {
   /* text-decoration: underline;  */
   color: $c1;
}

.serviss .vertical dd:last-child {
    margin-bottom: 20px !important;
}



/* Theme */
/* ===== */

/*  Better default colors */
$red: #B44326;
$orange: #F2A34F;
$yellow: #F8CA5C;
$green: #7FC028;
$light-blue: #52D7FE;
$blue: #00a6fc;
$purple: #8E48C2;
$white: #f7f7f7;
$black: #272727;

/* Colorscheme: Modified Sea Wolf */

$c1: #ff6726;  /* pure orange */
$c2: #d9cb9e;  /* cream beige */
$c3: #374140;  /* tire gray */
$c4: #2a2c2b;  /* asphalt */
$c5: #1e1e20;  /* night */

.top-bar .title-area .name a {
  color: $c1;
  &:hover {
    color: darken($c1, 5%);
  }
}

/* About page */
.about {
  h1,h2,h3 {
    font-weight: 900;
    color: $c1;
  }
  li {
    list-style-type: none;
  }
}



/* Footer  */
footer .outer-wrap:first-child {
  background-color: $c1;
  padding: 40px 0;
  h3 {
    /* color: $c2;  */
  }
  a {
    color: $black;
    &:hover {
      color: $c5;
    }
  }
  .panel {
    background-color: $c2;
    color: $c4;
  }
  .button {
    background-color: $c3;
    &:hover {
      background-color: darken($c3, 10%);
    }
  }
}

footer .outer-wrap:nth-child(2) {
  background-color: $c5;
  color: $white;
  padding: 40px 0;
  h3 {
    color: $c1;
  }
  a {
    color: $c2;
    &:hover {
      color: $c1;
    }
  }
}

footer .outer-wrap:last-child {
  background-color: darken($c5, 5%);
  color: lighten($c5, 10%);
  padding: 25px 0 15px 0;
}

.footersocial span {
    color: lighten($c5, 10%);
    font-size: 5em;
    &:hover {
        color: $c1;
    }
}

