{% extends "base.html" %}

{% block main %}
<h1>Par BroPro</h1>
<p>BroPro ir kvalificēts kravas un vieglo auto riepu serviss.  Sertificēti
darbinieki ar vairāk kā 15 gadu pieredzi labprāt sniegs konsultācijas, atbildēs
uz Jūsu jautājumiem un palīdzēs izvēlēties tieši Jums piemērotāko
risinājumu! Garantējam individuālu pieeju katram klientam un pēc klienta
pieprasījuma strādājam arī ārpus darba laika!</p>

<div>
  <h2>Riepas</h2>
  <p>Mēs piedāvājam dažādu veidu jaunas un lietotas kravas auto,
  mikroautobusu, apvidus un vieglo auto riepas, plašā sortimentā un dažādās cenu
  grupās - sākot no budžeta līdz premium tipa ražotājiem. Piedāvāto preču
  starpā ir tadi atpazīstami zīmoli kā Fulda, Matador, Goodyear, Bridgestone, Michelin,
  Firestone, Kormoran, Aeolus, Kumho Tyres un citi.</p>
</div>

<div>
  <h2>Diski</h2>
  <p>Piedāvājam arī jaunus un lietotus kravas un vieglo automašīnu diskus.
  Sīkākai informācijai lūdzam sazināties ar mums.</p>
</div>

<div>
  <h2>Serviss</h2>
  <p>
  Uz vietas veicam visu veida kravas, apvidus, mikroautobusu un vieglo auto
  riepu montāžu un balansēšanu. Veicam arī riepu remontu, sākot ar vienkāršu diegu
  ievēršanu un beidzot ar nopietnu sānu defektu labošanu ar vulkanizācijas metodi.
  Veicam arī riepu protektora padziļināšanu. Darbi tiek veikti ar kvalitatīvu
  specializētu servisa aprīkojumu pieredzējušu darbinieku vadībā.
  </p>
</div>

<h2>Kā mūs atrast?</h2>
Atrodamies netālu no lidostas Rīga. Iebraukšana caur pēdējo ar luksaforu
regulēto krustojumu. Braucot uz lidostu, krustojumā nepieciešams nogriesties pa
kreisi un braukt taisni aptuveni 1000m pa Dzirnieku ielu.
<a href="http://maps.google.com/maps?um=1&ie=UTF-8&q=bropro+sia&fb=1&gl=lv&hq=bropro+sia&cid=6970647867256205212&sa=X&ei=DbytUs6pAoPmywP5-YKQCg&ved=0CDUQrwswAA"> Karte </a>

<h3>Uzņēmuma rekvizīti</h3>
<ul>
  <li>Juridiskā adrese: "Atmodas"-21, Pienava, Džūkstes pag., Tukuma nov., LV-3147</li>
  <li>Faktiskā adrese: Dzirnieku iela 11, Lidosta Rīga, Mārupes novads, LV-2167</li>
  <li>Reģistrācijas numurs: 40103607159</li>
  <li>Nodokļu maksātāja numurs: LV40103607159</li>

  <li>Bankas rekvizīti:</li>
  <li>Banka: "Swedbank" AS</li>
  <li>Konts: LV87HABA0551034596411</li>
  <li>SWIFT: HABALV22</li>

  <li>Tel.<span class='mobile'><a href="tel:+37129141140">+371 29141140</a></span></li>
  <li>E-pasta adrese: info@bropro.lv</li>

</ul>

{% endblock %}



