{% extends "base.html" %}

{% block main %}

<div class="mapwrap">
  <div class="flexible">
    <div id="cover"></div>
    <iframe
      frameborder="0" style="height:350px; width:100%; border:0" scrolling="no"
      marginheight="0" marginwidth="0" 
      src="https://www.google.com/maps/embed/v1/place?key=AIzaSyC-MwWIy7JGkW_bKKI4GYBXdclqjEo9bK4
      &q=BroPro+SIA,+Skulte,+M%C4%81rupes+novads,+Latvijas+Republika&zoom=12">
    </iframe>
  </div>
</div>

 <div data-magellan-expedition="fixed">
  <dl class="sub-nav">
    <dd data-magellan-arrival="directions"><a href="#directions">Kā mūs atrast?</a></dd>
    <dd data-magellan-arrival="bropro"><a href="#bropro">Par BroPro</a></dd>
    <dd data-magellan-arrival="purchase"><a href="#purchase">Preču un pakalpojumu iegāde</a></dd>
    <dd data-magellan-arrival="info"><a href="#info">Rekvizīti</a></dd>
  </dl>
</div>

<div class="row about" id="directions" data-magellan-destination="directions">
  <h2>Kā mūs atrast?</h2>
  <p>
  Atrodamies netālu no lidostas "Rīga". Braucot uz lidostu, iebraukšana caur pēdējo ar luksaforu
  regulēto krustojumu - krustojumā pie luksafora nogriezieties pa
  kreisi un brauciet taisni aptuveni 1000m pa Dzirnieku ielu.
  </p>

<div class="row about" id="bropro" data-magellan-destination="bropro">
  <div class="medium-6 columns">
    <h2> Par BroPro </h2>
    <p itemprop="description text-left">BroPro ir kvalificēts kravas un vieglo auto riepu serviss.  Sertificēti
      darbinieki ar vairāk kā 15 gadu pieredzi labprāt sniegs konsultācijas, atbildēs
      uz Jūsu jautājumiem un palīdzēs izvēlēties tieši Jums piemērotāko
      risinājumu! Garantējam individuālu pieeju katram klientam un pēc klienta
      pieprasījuma strādājam arī ārpus darba laika!</p>
  </div>
  <div class="medium-6 columns">
    <img src="/images/agris.jpg" alt="">
  </div>
</div>

</div>

<div class="row about" id="purchase" data-magellan-destination="purchase">
  <h2>Preču un pakalpojumu iegāde</h2>
  <p> Lapā redzamās riepas ir tikai tās, kas uz doto brīdi atrodas mūsu noliktavā vai arī ir pieejamas dažu darba dienu laikā.</p>
  <p> Pasūtīt riepas varat ar e-pasta, telefona vai mūsu mājas lapas starpniecību. Ja noformēsiet pasūtījumu mājas lapā, ar jums sazināsies mūsu pārstāvis, lai apstiprinātu pasūtījumu detaļas. Pēc pasūtījuma apstiprināšanas, Jums tiks nosūtīts rēķins, kuru varat apmaksāt ar internetbankas starpniecību vai skaidrā naudā, saņemot preci mūsu atrašanās vietā - Dzirnieku ielā 11, netālu no lidostas "Rīga".</p>
  <p> Iespējama arī preču <span id="piegade">piegāde </span>Rīgas un rajona robežās. Precīzākai informācijai lūdzam sazināties ar mums.</p>


</div>


<div class="about row" id="info" data-magellan-destination="info">
  <h2>Mūsu rekvizīti</h2>
  <ul class="panel">
    <li itemprop="legalName"><strong>Nosaukums:</strong> BroPro SIA</li>
    <li> <strong>Juridiskā adrese: </strong>"Atmodas"-21, Pienava, Džūkstes pag., Tukuma nov., LV-3147</li>
    <li itemprop="location"><strong>Faktiskā adrese: </strong>Dzirnieku iela 11, Lidosta Rīga, Mārupes novads, LV-2167</li>
    <li><strong>Reģistrācijas numurs: </strong>40103607159</li>
    <li itemprop="vatID"><strong>Nodokļu maksātāja numurs:</strong> LV40103607159</li>
  </ul>

  <ul class="panel">
    <li><strong>Banka</strong>: "Swedbank" AS</li>
    <li><strong>Konts</strong>: LV87HABA0551034596411</li>
    <li><strong>SWIFT</strong>: HABALV22</li>
  </ul>

</div>

{% endblock %}

