<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta  name="description" content="Kravas un vieglo automašīnu riepas un serviss. Kvalitāte par draudzīgām cenām. Pēc pieprasījuma strādājam arī ārpus darba laika." />
        <title>BroPro - Kravas un vieglo automašīnu riepu tirdzniecība un serviss</title>

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css css/libraries.min.css -->
        <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.css">
        <link rel="stylesheet" href="http://i.icomoon.io/public/temp/af5a0341d8/UntitledProject1/style.css">
        <!-- bower:css -->
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css css/app.min.css -->
        <link rel="stylesheet" href="/css/app.css">
        <link rel="stylesheet" href="/css/app_override.css">
        <!-- endbuild -->
        <!-- build:js js/vendor/modernizr.min.js -->
        <script src="/bower_components/modernizr/modernizr.js"></script>
        <script type="text/javascript"
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-MwWIy7JGkW_bKKI4GYBXdclqjEo9bK4&sensor=false">
        </script>
        <script src="/js/maps.js"></script>
        <!-- endbuild -->
    </head>

    <body>
        <!--[if lt IE 8]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    <div class="off-canvas-wrap">
      <div itemscope itemtype="http://schema.org/LocalBusiness" class="inner-wrap">

        <div class="contain-to-grid sticky">
        <nav class="top-bar hide-for-small" data-topbar data-options="sticky_on: " role="navigation">
          <ul class="title-area">
              <li class="name"><h1><a href="/">BroPro</a></h1></li>
          </ul>
          <section class="top-bar-section">
            <ul class="right">
              <li><a href="/riepas"><span class="menu-icon icon-dial"></span>Riepas</a></li>
              <li><a href="/diski"><span class="menu-icon icon-compass"></span>Diski</a></li>
              <li><a href="/serviss"><span class="menu-icon icon-cog"></span>Serviss</a></li>
              <li><a href="/par"><span class="menu-icon icon-map-pin-fill"></span>Info</a></li>
            </ul>
          </section>
        </nav>
        </div>

        <nav class="tab-bar show-for-small" role="navigation">
          <section class="left-small"><a class="left-off-canvas-toggle menu-icon"> <span></span> </a></section>
              <h1 class="name right"><a href="/">BroPro</a></h1>
        </nav>
        <aside class="left-off-canvas-menu">
          <ul class="off-canvas-list">
            <li><label class="first">Izvēlne</label></li>
            <li><a href="/riepas"><span class="menu-icon icon-bowling"></span>Riepas</a></li>
            <li><a href="/diski"><span class="menu-icon icon-eightball"></span>Diski</a></li>
            <li><a href="/serviss"><span class="menu-icon icon-tools"></span>Serviss</a></li>
            <li><a href="/par"><span class="menu-icon icon-location"></span>Par mums</a></li>
          </ul>
        </aside>

        <div id="main" class="main-section" role="main">

            {% block main %}
            {% endblock %}
            <a class="exit-off-canvas"></a>
        </div>

        <footer>
          <div class="outer-wrap">
          <div class="row">
            <div class="footersearch large-4 columns">
                <div id="map-canvas"></div>
            </div>


            <div id="footercontact" class="footercontact medium-6 large-4 columns">
              <h3>Kontakti</h3>
              <ul>
                <li itemprop="address" itemscope
                  itemtype="http://schema.org/postaladdress">Adrese:
                  <span itemprop="streetaddress">Dzirnieku iela 11</span>,
                  <span itemprop="addresslocality">Lidosta rīga, Mārupes novads</span>,
                  <span itemprop="postalcode">LV-2167</span></li>
                <li>
                  <em itemprop="founder">Agris Jākobsons</em>
                  <span class="flagbox"><span class="flag lv"></span></span>
                  <span class="flagbox"><span class="flag ru"></span></span>
                  <span class='mobile'><a href="tel:+37129297468" itemprop="telephone">+371 29297468</a></span>
                </li>
                <li>
                  <em itemprop="founder">Māris Jākobsons</em>
                  <span class="flagbox"><span class="flag lv"></span></span>
                  <span class="flagbox"><span class="flag ru"></span></span>
                  <span class="flagbox"><span class="flag de"></span></span>
                  <span class="flagbox"><span class="flag gb"></span></span>
                </li>
                  <span class='mobile'><a href="tel:+37129141140" itemprop="telephone">+371 29141140</a></span>
                <li itemprop="email">e-pasts: info@bropro.lv</li>
              </ul>
            </div>

            <div class="footerhours medium-6 large-4 columns">
              <h3>Darba laiks</h3>
              <ul>
                <li><time itemprop="openinghours" datetime="mo,tu,we,th,fr 9:00-19:00">Pirmdiena - Piektdiena: 9<sup>00</sup> - 19<sup>00</sup></time></li>
                <li><time itemprop="openingHours" datetime="Sa 9:00-16:00">Sestdiena:   9<sup>00</sup> - 16<sup>00</sup></time></li>
                <li><time itemprop="openingHours" datetime="Su"> Svētdiena:  Slēgts</time></li>
              </ul>
                <div class="panel"><em> Strādajam pēc pieprasījuma arī ārpus darba laika.  Droši zvaniet! </em></div>
            </div>

          </div>
          </div>

          <div class="outer-wrap">
          <div class="row">
              <div class="footernav large-4 medium-6 columns">
                <h3>Navigācija</h3>
                <ul>
                  <li><a href="#">Kravas auto riepas</a></li>
                  <li><a href="#">Vieglo auto riepas</a></li>
                  <li><a href="#">Lietotas kravas riepas</a></li>
                  <li><a href="#">Lietotas vieglo riepas</a></li>
                  <li><a href="#">Diski</a></li>
                  <li><a href="#">Serviss</a></li>
                </ul>
              </div>

              <div class="footerinfo large-4 medium-6 columns">
                <h3>Informācija</h3>
                <ul>
                  <li><a href="#">Preču piegāde</a></li>
                  <li><a href="#">Norēķinu iespejas</a></li>
                  <li><a href="#">Kā mūs atrast?</a></li>
                  <li><a href="#">Atsauksmes</a></li>
                  <li><a href="#">Par uzņēmumu</a></li>
                  <li><a href="#">Uzņēmuma rekvizīti</a></li>
                  <li><a href="#">Lapas karte</a></li>
                </ul>
              </div>


              <div class="footerform large-4 columns">
                <form id="footerform" action="/l" method="POST" accept-charset="utf-8">
                  <label for="cinfo">Kontaktinformācija:
                    <input type="text" name="cinfo" id="cinfo" value=""
                    placeholder="Jūsu e-pasts vai telefons" />
                    <!-- <span class="error">This is an error.</span> -->
                  </label>
                  <label for="message">Ziņa:
                    <textarea name="message" id="message" placeholder="Ziņas saturs" rows="5" cols="32"></textarea>
                  </label>
                  <input type="submit" name="submit" class="submit button right" value="Sūtīt!" />
                </form>
              </div>

            </div>
          </div>

          <div class="outer-wrap">
          <div class="row">
            <div class="columns">
              <span class="footerlogo">&copy; BroPro 2014</span>
              <span class="gae right">Lapa izstrādes stadijā.</span>

              <!-- <span class="social">Social Links</span> -->
            </div>
          </div>
        </div>

        </footer>

      </div>
    </div>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>



        <!-- <script data&#45;main="/scripts/main" src="bower_components/requirejs/require.js"></script> -->
        <!-- build:js js/vendor/libraries.min.js -->
        <!-- bower:js -->
        <script src="./bower_components/jquery/dist/jquery.js"></script>
        <script src="/bower_components/fastclick/lib/fastclick.js"></script>
        <script src="/bower_components/list.fuzzysearch.js/dist/list.fuzzysearch.js"></script>
        <script src="/bower_components/list.pagination.js/dist/list.pagination.js"></script>
        <script src="/bower_components/list.js/dist/list.js"></script>
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:js js/vendor/foundation.min.js -->
        <script src="/bower_components/foundation/js/foundation/foundation.js"></script>
        <script src="/bower_components/foundation/js/foundation/foundation.abide.js"></script>
        <script src="/bower_components/foundation/js/foundation/foundation.accordion.js"></script>
        <script src="/bower_components/foundation/js/foundation/foundation.alert.js"></script>
        <script src="/bower_components/foundation/js/foundation/foundation.clearing.js"></script>
        <script src="/bower_components/foundation/js/foundation/foundation.dropdown.js"></script>
        <script src="/bower_components/foundation/js/foundation/foundation.equalizer.js"></script>
        <script src="/bower_components/foundation/js/foundation/foundation.interchange.js"></script>
        <script src="/bower_components/foundation/js/foundation/foundation.joyride.js"></script>
        <script src="/bower_components/foundation/js/foundation/foundation.magellan.js"></script>
        <script src="/bower_components/foundation/js/foundation/foundation.offcanvas.js"></script>
        <script src="/bower_components/foundation/js/foundation/foundation.orbit.js"></script>
        <script src="/bower_components/foundation/js/foundation/foundation.reveal.js"></script>
        <script src="/bower_components/foundation/js/foundation/foundation.slider.js"></script>
        <script src="/bower_components/foundation/js/foundation/foundation.tab.js"></script>
        <script src="/bower_components/foundation/js/foundation/foundation.tooltip.js"></script>
        <script src="/bower_components/foundation/js/foundation/foundation.topbar.js"></script>
        <!-- endbuild -->
        <!-- build:js js/app.min.js -->
        <script src="/js/app.js"></script>
        <!-- endbuild -->

    </body>
</html>
