<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>BroPro - Kravas un vieglo automašīnu riepu tirdzniecība un serviss</title>
        <meta  name="description" content="Kravas un vieglo auto riepas un serviss. Kvalitāte par draudzīgām cenām. Pēc pieprasījuma strādājam arī ārpus darba laika." />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css styles/vendor.css -->
        <!-- bower:css -->

        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="/styles/main.css">
        <!-- endbuild -->
        <script src="/bower_components/modernizr/modernizr.js"></script>

    </head>

    <body>
      <div id="outer-wrap">
      <div itemscope itemtype="http://schema.org/LocalBusiness" id="inner-wrap">
        <!--[if lt IE 8]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->


        <header id="top" role="banner">
        <div class="inner-wrapper">
          <h1 class="logo" itemprop="name"><a href="/">BroPro</a></h1>
          <span class="subtitle">Riepu serviss</span>
          <a href="#nav" id="nav-open">Izvēlne</a>
        </div>
        </header>


        <nav id="nav" role="navigation">
        <div class="inner-wrapper">
          <ul>
            <li><a href="/riepas"><span class="menu-icon icon-tyre"></span>Riepas</a></li>
            <li><a href="/diski"><span class="menu-icon icon-rim"></span>Diski</a></li>
            <li><a href="/serviss"><span class="menu-icon icon-wrench"></span>Serviss</a></li>
            <li><a href="/par"><span class="menu-icon icon-office"></span>Par Mums</a></li>
          </ul>
          <a id="nav-close" href="#top">Atgriezties uz lapu</a>
        </div>
        </nav>


        <section id="main" role="main">
          <div class="inner-wrapper">

            {% block main %}
              {% endblock %}

          </div>  <!-- end of wrapper -->
        </section>


        <footer>
          <div class="footerrow">
          <div class="inner-wrapper">
            <div class="footersearch">
              <form action="/meklet">
                <input type="search" name="q" id="fsearch" placeholder="Goodyear 315/85 R22.5" />
                <input type="submit" class="submit btn" value="Meklēt!" />
              </form>
              <div class="brandband">
                  <span class="brand bridgestone"></span>
                  <span class="brand firestone"></span>
                  <span class="brand kormoran"></span>
                  <span class="brand michelin"></span>
                  <span class="brand fulda"></span>
                  <span class="brand goodyear"></span>
                  <span class="brand kumho"></span>
                  <span class="brand aeolus"></span>
                  <span class="brand matador"></span>
              </div>
            </div>

            <ul class="footercontact">
              <h6>Kontaktinformācija:</h6>
              <li itemprop="address" itemscope
              itemtype="http://schema.org/PostalAddress">Adrese:
              <span itemprop="streetAddress">Dzirnieku iela 11</span>,
              <span itemprop="addressLocality">Lidosta Rīga, Mārupes novads</span>,
              <span itemprop="postalCode">LV-2167</span></li>
              <li itemprop="email">E-pasts: info@bropro.lv</li>
              <li>
              <em itemprop="founder">Agris Jākobsons</em>
              <span class='mobile'><a href="tel:+37129297468" itemprop="telephone">+371 29297468</a></span>
              <span class="flagbox"><span class="flag lv"></span></span>
              <span class="flagbox"><span class="flag ru"></span></span>
              </li>
              <li>
              <em itemprop="founder">Māris Jākobsons</em>
              <span class='mobile'><a href="tel:+37129141140" itemprop="telephone">+371 29141140</a></span>
              <span class="flagbox"><span class="flag lv"></span></span>
              <span class="flagbox"><span class="flag ru"></span></span>
              <span class="flagbox"><span class="flag de"></span></span>
              <span class="flagbox"><span class="flag gb"></span></span>
              </li>
            </ul>

            <ul class="footerhours">
              <h6>Darba laiks:</h6>
              <li><time itemprop="openingHours" datetime="Mo,Tu,We,Th,Fr 9:00-19:00">Pirmdiena - Piektdiena: 9<sup>00</sup> - 19<sup>00</sup></time></li>
              <li><time itemprop="openingHours" datetime="Sa 9:00-16:00">Sestdiena:   9<sup>00</sup> - 16<sup>00</sup></time></li>
              <li><time itemprop="openingHours" datetime="Su"> Svētdiena:  Slēgts*</time></li>
              <em>* Strādajam pēc pieprasījuma arī ārpus darba laika.
                Nepieciešamības gadījumā zvaniet pa norādītajiem tālruņiem. </em>
            </ul>

          </div>  <!-- end of wrapper -->
        </div>

        <div class="footerrow">
          <div class="inner-wrapper">
            <ul class="footernav">
            <h6>Navigācija</h6>
              <li><a href="#">Kravas auto riepas</a></li>
              <li><a href="#">Vieglo auto riepas</a></li>
              <li><a href="#">Lietotas kravas riepas</a></li>
              <li><a href="#">Lietotas vieglo riepas</a></li>
              <li><a href="#">Diski</a></li>
              <li><a href="#">Serviss</a></li>
              <li><a href="#">Par uzņēmumu</a></li>
              <li><a href="#">Lapas karte</a></li>
            </ul>

            <ul class="footerinfo">
              <h6>Informācija</h6>
              <li><a href="#">Jaunumi</a></li>
              <li><a href="#">Par riepām</a></li>
              <li><a href="#">Par servisu</a></li>
              <li><a href="#">Piegādes iespējas</a></li>
              <li><a href="#">Apmaksa</a></li>
              <li><a href="#">Atsauksmes</a></li>
              <li><a href="#">Kā mūs atrast?</a></li>
              <li><a href="#">Uzņēmuma rekvizīti</a></li>
            </ul>


            <div class="footerform">
              <h6>Nepieciešama palīdzība?</h6>
              <form id="footerform" action="/l" method="POST" accept-charset="utf-8">
                <label for="name">Vārds:
                <input type="text" name="name" id="name" value="" placeholder="Jūsu vārds" />
                </label>
                <label for="cinfo">Kontaktinformācija:
                  <input type="text" name="cinfo" id="cinfo" value=""
                  placeholder="E-pasts vai telefons" />
                  <!-- <span class="error">This is an error.</span> -->
                </label>
                <label for="message">Ziņa:
                  <textarea name="message" id="message" placeholder="Ziņas saturs" rows="5" cols="32"></textarea>
                </label>
                <input type="submit" name="submit" class="submit btn" value="Sūtīt!" />
              </form>

            </div>
          </div>  <!-- end of wrapper -->
        </div>

        <div class="footerrow bottomrow">
          <div class="inner-wrapper">
            <span class="footerlogo">&copy; BroPro 2014</span>
            <span class="gae">Powered by Google Appengine</span>
            <span class="social">Social Links</span>
            <span class="backtop">
              <a href="#top">Uz lapas sākumu</a>
            </span>
          </div>  <!-- end of wrapper -->
        </div>
        </footer>


        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>


        <!-- build:js({app,.tmp}) scripts/main.js -->
        <script data-main="/scripts/main" src="bower_components/requirejs/require.js" type="text/javascript"></script>
        <!-- endbuild -->

      </div>
      </div>
    </body>
</html>
