{% extends "base.html" %}

{% block main %}
<div class="row">


<p>Piedāvajam arī jaunus un lietotus kravas un vieglo automašīnu diskus.
Sīkākai informācijai lūdzam sazināties ar mums. Mūsu kontaktinformācija atrodama
sadaļā <a href="/par">par mums</a> vai <a href="#kontakti">lapas apakšā.</a>
Varat arī nosūtīt mums ziņu, aizpildot šo formu, un mūsu pārstāvis pēc iespējas ātrākā laikā ar Jums sazināsies. </p>

                <form id="footerform" action="/l" method="POST" accept-charset="utf-8">
                  <label for="cinfo">Jūsu kontaktinformācija:
                    <input type="text" name="cinfo" id="cinfo" value=""
                    placeholder="Jūsu e-pasts vai telefons" />
                    <!-- <span class="error">This is an error.</span> -->
                  </label>
                  <label for="message">Ziņa:
                    <textarea name="message" id="message" placeholder="Ziņas saturs" rows="5" cols="32"></textarea>
                  </label>
                  <input type="submit" name="submit" class="submit button right" value="Sūtīt!" />
                </form>

</div>
{% endblock %}


