{% extends "base.html" %}

{% block main %}

<div id="shopping-cart" class="row cart">

    {% if item_list %}
    <form method="post" data-abide>
        <ul class="">
            <li class="title row collapse">
                <span class="small-1 medium-1 columns">&nbsp;</span>
                <span class="small-5 medium-6 columns">Nosaukums</span>
                <span class="small-3 medium-1 large-2 columns text-center">Cena</span>
                <span class="small-2 medium-2 large-1 columns text-center">Skaits</span>
                <span class="hide-for-small medium-2 columns text-right">Summa</span>
            </li>
        {% for item in item_list %}
        <li class="row collapse">
            <span class="small-1 medium-1 columns"><a href="grozs/dzest/{{ item.key.urlsafe() }}" class="fa fa-times remove"></a></span>
            <span class="small-5 medium-6 columns name">{{ item.brand + " " + item.model + " " + item.size }}</span>
            <span class="small-3 medium-1 large-2 columns text-center"><span class="item-price">{{ '%0.2f' % item.price|float }}</span></span>
            <span class="small-2 medium-2 large-1 columns"><input name="{{ item.key.urlsafe() }}" class="item-count" min="1" type="number" step="1" value="1" required /></span>
            <span class="hide-for-small medium-2 columns text-right"><span class="item-sum"></span></span>
        </li>
        {% endfor %}
        </ul>
        <div class="row">
            <span class="right title">Kopā: <span id="shopping-cart-total"></span> &euro;</span>
        </div>
        <hr>

        <div class="row">
          <div class="label success">Jūsu rekvizīti / Kontaktinformācija / Jautājumi par preci</div>
          <textarea name="kontaktinfo" id=notes rows="8" cols="40" placeholder="" required></textarea>
        </div>

        <div class="row buttons">
            <input type="submit" class="button success right" href="/grozs/dzest" value="Pasūtīt" />
            <a class="button tiny left" href="/grozs/dzest">Iztīrīt grozu</a>
        </div>
    </form>

        <div class="row">
          <div class="panel">Pēc pasūtījuma veikšanas ar Jums sazināsies mūsu pārstāvis.</div>
        </div>

    {% else %}
        <div class="panel">Grozā nav nevienas preces.</div>
    {% endif %}


</div>
{% endblock %}


