{% extends "base.html" %}

{% block main %}

 <!-- First Band (Slider) -->
 
  <div class="row">
    <div class="featured large-12 columns">
    <div id="slider">
      <img src="/images/wat2.jpg" />
    </div>
    <hr />
    </div>
  </div>
  
<!-- Three-up Content Blocks -->
 
  <div class="row">
    <div class="large-4 columns">
      <a href="/riepas">
        <img src="/images/tyres.jpg" />
        <h4>Riepas</h4>
      </a>
      <p>Piedāvājam dažādu veidu jaunas un lietotas kravas auto, mikroautobusu, apvidus un vieglo auto riepas, plašā sortimentā un dažādās cenu grupās - sākot no budžeta līdz premium tipa brandiem.</p>
    </div>
    
    <div class="large-4 columns">
      <a href="/diski">
        <img src="/images/rims.jpg" />
        <h4>Diski</h4>
      </a>
      <p>Piedāvājam arī jaunus un lietotus kravas un vieglo automašīnu diskus. Sīkākai informācijai lūdzam sazināties ar mums.</p>
    </div>
    
    <div class="large-4 columns">
      <a href="/serviss">
        <img src="/images/serviss.jpg" />
        <h4>Serviss</h4>
      </a>
      <p>Uz vietas veicam visu veida kravas, apvidus, mikroautobusu un vieglo auto riepu montāžu un balansēšanu. Veicam arī riepu remontu, sākot ar vienkāršu diegu ievēršanu un beidzot ar nopietnu sānu defektu labošanu ar vulkanizācijas metodi. Veicam arī riepu protektora padziļināšanu. </p>
    </div>
  
    </div>
    
<!-- Call to Action Panel -->
<div class="row">
  <ul class="brandband small-block-grid-2 medium-block-grid-5 large-block-grid-6">
    <li><img src="/images/bridgestone.png" alt=""></li>
    <li><img src="/images/fulda.png" alt=""></li>
    <li><img src="/images/michelin.png" alt=""></li>
    <li><img src="/images/goodyear.png" alt=""></li>
    <li><img src="/images/kumho.png" alt=""></li>
    <li><img src="/images/matador.png" alt=""></li>
    <li><img src="/images/kormoran.png" alt=""></li>
    <li><img src="/images/aeolus.png" alt=""></li>
    <li><img src="/images/firestone.png" alt=""></li>
    <li><img src="/images/continental.png" alt=""></li>
    <li><img src="/images/yokohama.png" alt=""></li>
    <li><img src="/images/dunlop.png" alt=""></li>
  </ul>
</div>


{% endblock %}



