{% extends "base.html" %}

{% block main %}
<div class="row">
<h1>Pievienot riepu</h1>

<form action="{{ url }}" enctype="multipart/form-data" method="post">
  <label for="size">Izmers:</label>
  <input type="text" name="size" id="size" value="" />

  <label for="brand">Razotajs</label>
  <input type="text" name="brand" id="brand" value="" />

  <label for="model">Modelis</label>
  <input type="text" name="model" id="model" value="" />

  <label for="price">Cena</label>
  <input type="text" name="price" id="price" value="" />

  <label for="isUsed">Lietota?</label>
  <input type="checkbox" name="isUsed" id="isUsed" />

  <label for="tread">Protektora atlikums</label>
  <input type="text" name="tread" id="tread" value="" />

  <!-- <label for="isTruckTyre">Kravas auto riepa?</label> -->
  <!-- <input type="checkbox" name="isTruckTyre" id="isTruckTyre" /> -->
  <!--  -->
  <!-- <label for="axle">Ass:</label> -->
  <!-- <select name="axle" id="axle"> -->
  <!--   <option value="front">Sturejoshaa</option> -->
  <!--   <option value="drive">Velkoshaa</option> -->
  <!--   <option value="trailer">Piekabes</option> -->
  <!--   <option value="any">Jebkura</option> -->
  <!-- </select> -->

  <!-- <label for="loadIndexPaired">Kravnesibas indekss saparotai riepai</label> -->
  <!-- <input type="text" name="loadIndexPaired" id="loadIndexPaired" value="" /> -->
  <!--  -->
  <!-- <label for="loadIndex">Kravnesibas indekss 1 riepai</label> -->
  <!-- <input type="text" name="loadIndex" id="loadIndex" value="" /> -->
  <!--  -->
  <!-- <label for="speedIndex">Atruma indekss:</label> -->
  <!-- <input type="text" name="speedIndex" id="speedIndex" value="" /> -->
  <label for="img">Attēls (&lt; 1MB, .jpg)</label>
  <input type="file" name="file"/>
  <input type="submit" class="submit button" value="Pievienot" />
</form>

 </div>
{% endblock %}


