{% extends "base.html" %}

{% block main %}

<div class="row">

  <ul class="breadcrumbs">
    <li><a href="/">Sākums</a></li>
    <li class="current"><a href="#">Riepas</a></li>
  </ul>

  <!-- <div class="filter&#45;list"> -->
  <!--   <span class="title"></span> -->
  <!--   <a class="filter" href="/riepas/vieglo">Vieglais auto</a> -->
  <!--   <a class="filter" href="/riepas/kravas">Kravas auto</a> -->
  <!--   <a class="filter" href="/riepas/lietotas">Lietotas</a> -->
  <!-- </div> -->

  {% if Tyres %}
  <div id= "tire-list" class="tyre-list">
    <input type="search" class="fuzzy-search search" placeholder="Meklēšana"/>

    <ul class="list small-block-grid-2 medium-block-grid-4 large-block-grid-5">
      {% for tyre in Tyres %}

      <li class="product" itemscope itemtype="http://schema.org/Product">

        <div class="">

          <ul class="pricing-table">
            <li class="title">
              <span class="model" itemprop="model"> {{ tyre.model }} </span>
              <span class="size"> {{ tyre.size }} </span>
            </li>
            <li class="bullet-item">
            {% if tyre.image %}
            <a itemprop="image" class="image" href="/serve/{{ tyre.image }}"><img src="/serve/th/{{ tyre.image }}" alt="Tires"></a>
            {% else %}
            <a itemprop="image" class="image" href="http://placecage.com/c/800/600"><img src="http://placecage.com/100/100" data-caption="" alt="Riepas"></a>
            {% endif %}
            <!-- <span class="brand" itemprop="brand"> {{ tyre.brand }} </span> -->
            <span class="brand-small firestone" class="has-tip" title="{{ tyre.brand }}"></span>
              {% if tyre.treadDepth %}
              Protektora atlikums:
              <span class="treadDepth">{{ tyre.treadDepth }}mm</span>
              {% endif %}
            </li>


            <li class="price">
            <span itemprop="price"> {{ tyre.price }} &euro; </span>
            </li>

            <li class="cta-button">
            <!--   <span class="small&#45;4"> -->
            <!--   <input type="number" step="1.0" value="4"></input> -->
            <!-- </span> -->
              <a class="button" href="#">Pirkt</a>
            </li>
          </ul>


        </div>

      </li>
      {% endfor %}

    </ul>
    <ul class="pagination clear right"></ul>
  </div>
  {% endif %}

</div>
{% endblock %}


