{% extends "base.html" %}

{% block main %}

<div class="row">
  {% if Tyres %}
  <div id= "tire-list" class="tyre-list">

    <div class="panel">
    <a class="button" href="/riepas/vieglo">Vieglo auto riepas</a>
    <a class="button" href="/riepas/kravas">Kravas auto riepas</a>
    <a class="button" href="/riepas/vieglo/lietotas">Lietotas vieglo riepas</a>
    <a class="button" href="/riepas/kravas/lietotas">Lietotas kravas riepas</a>
    </div>

    <div class="row collapse">
      <div class="small-10 large-11 columns">
        <input name="tyre" id="tyre-search-input" class="search fuzzy-search" type="search" placeholder="Firestone FS400 315/70 R22.5">
      </div>
      <div class="small-2 large-1 columns">
        <a href="#" id="tyre-search-submit" class="button postfix"><span class="fa fa-search"></span><span class="hide-for-small-only">Meklēt</span></a>
      </div>
    </div>

    <ul class="list small-block-grid-2 medium-block-grid-3 large-block-grid-4">
      {% for tyre in Tyres %}

      <li class="product" itemscope itemtype="http://schema.org/Product">

        <div class="productwrap">

            <a class="single_product_link" href="/riepa/{{ tyre.key.urlsafe() }}?ajax=true" data-reveal-id="{{ tyre.key.urlsafe() }}" data-reveal-ajax="true">
                <div class="row name">
                    <span class="brand hidden" itemprop="manufacturer"> {{ tyre.brand }} </span>
                    <span class="size"> {{ tyre.size }} </span>
                    <span class="model" itemprop="model"> {{ tyre.model }} </span>
                </div>
            </a>
            <div id="{{ tyre.key.urlsafe() }}" class="reveal-modal tire-modal" data-reveal>
            </div>

          <div class="row">

            <div class="medium-6 columns pic">

              {% if tyre.image %}
              <a itemprop="image" class="image" href="/serve/{{ tyre.image }}" data-lightbox="{{ tyre.image }}"><img src="/serve/th/{{ tyre.image }}" alt="Riepa"></a>
              {% else %}
              <img src="images/tyre-th.jpg" alt="Riepa">
              {% endif %}
              <img class="product__brand" src="/images/{{ tyre.brand | lower }}.png"  alt="{{ tyre.brand }}"/>

            </div>

            <div class="medium-6 columns purchase">
              <span itemprop="price" class="price"> {{ '%0.2f' % tyre.price|float }} &euro; </span>

              <form action="/pirkt" method="get">
                <input type="hidden" name="key" value="{{ tyre.key.urlsafe() }}" />
                <input type="submit" class="button small" value="Pirkt">
              </form>

            </div>

          </div>

          {% if tyre.treadDepth %}
          <div class="row notes">
            <em><span class="tread-depth">Protektora atlikums: {{ tyre.treadDepth }}mm</span></em>
          </div>
          {% endif %}

        </div>
      </li>
      {% endfor %}

    </ul>

    <ul class="pagination clear right"></ul>

  </div>

  {% else %}

  <div class="panel"><p>Nav nevienas preces</p></div>

  {% endif %}

</div>
{% endblock %}


