{% extends "base.html" %}

{% block main %}
<div class="row serviss">

  <dl class="tabs" data-tab>
      <dd><a href="#panel2-1"><span class="fa fa-car"></span>Vieglais auto</a></dd>
      <dd class="active"><a href="#panel2-2"><span class="fa fa-truck"></span>Kravas tehnika</a></dd>
  </dl>

  <div class="tabs-content">

    <div class="content" id="panel2-1">
      <dl class="tabs vertical" data-tab>
        <dd class="active"><a href="#panel1a"> &gt; Vieglais auto</a></dd>
        <dd><a href="#panel2a"> &gt; Apvidus auto</a></dd>
      </dl>
      <div class="tabs-content vertical">
        <div id="panel1a" class="content active">
          <div class="medium-4 columns">
            <ul class="pricing-table">
              <li class="title">R13 - R16</li>
              <li class="description">Vieglo automašīnu riepu montāža un balansēšana</li>
              <li class="bullet-item">Noņemšana 0,75 &euro;</li>
              <li class="bullet-item">Uzlikšana 0,75 &euro;</li>
              <li class="bullet-item">Demontāža 0,75 &euro;</li>
              <li class="bullet-item">Montāža 0,75 &euro;</li>
              <li class="bullet-item">Balansēšana 2,15 &euro;</li>
              <li class="price"> 5,15 &euro;</li>
            </ul>
          </div>

          <div class="medium-4 columns">
            <ul class="pricing-table">
              <li class="title">R17 - R18</li>
              <li class="description">Vieglo automašīnu riepu montāža un balansēšana</li>
              <li class="bullet-item">Noņemšana 0,75 &euro;</li>
              <li class="bullet-item">Uzlikšana 0,75 &euro;</li>
              <li class="bullet-item">Demontāža 1,50 &euro;</li>
              <li class="bullet-item">Montāža 1,50 &euro;</li>
              <li class="bullet-item">Balansēšana 2,20 &euro;</li>
              <li class="price"> 6,70 &euro;</li>
            </ul>
          </div>

          <div class="medium-4 columns">
            <ul class="pricing-table">
              <li class="title">R19 - R22</li>
              <li class="description">Vieglo automašīnu riepu montāža un balansēšana</li>
              <li class="bullet-item">Noņemšana 0,75 &euro;</li>
              <li class="bullet-item">Uzlikšana 0,75 &euro;</li>
              <li class="bullet-item">Demontāža 2,15 &euro;</li>
              <li class="bullet-item">Montāža 2,15 &euro;</li>
              <li class="bullet-item">Balansēšana 2,85 &euro;</li>
              <li class="price"> 8,65 &euro;</li>
            </ul>
          </div>
        </div>

        <div id="panel2a" class="content">
          <div class="medium-4 columns">
            <ul class="pricing-table">
              <li class="title">R15 - R16</li>
              <li class="description">Apvidus automašīnu riepu montāža un balansēšana</li>
              <li class="bullet-item">Noņemšana 0,75 &euro;</li>
              <li class="bullet-item">Uzlikšana 0,75 &euro;</li>
              <li class="bullet-item">Demontāža 0,75 &euro;</li>
              <li class="bullet-item">Montāža 0,75 &euro;</li>
              <li class="bullet-item">Balansēšana 3,60 &euro;</li>
              <li class="price"> 6,60 &euro;</li>
            </ul>
          </div>

          <div class="medium-4 columns">
            <ul class="pricing-table">
              <li class="title">R17 - R18</li>
              <li class="description">Apvidus automašīnu riepu montāža un balansēšana</li>
              <li class="bullet-item">Noņemšana 0,75 &euro;</li>
              <li class="bullet-item">Uzlikšana 0,75 &euro;</li>
              <li class="bullet-item">Demontāža 1,45 &euro;</li>
              <li class="bullet-item">Montāža 1,45 &euro;</li>
              <li class="bullet-item">Balansēšana 3,60 &euro;</li>
              <li class="price"> 8,00 &euro;</li>
            </ul>
          </div>

          <div class="medium-4 columns">
            <ul class="pricing-table">
              <li class="title">R19 - R22</li>
              <li class="description">Apvidus automašīnu riepu montāža un balansēšana</li>
              <li class="bullet-item">Noņemšana 0,75 &euro;</li>
              <li class="bullet-item">Uzlikšana 0,75 &euro;</li>
              <li class="bullet-item">Demontāža 2,15 &euro;</li>
              <li class="bullet-item">Montāža 2,15 &euro;</li>
              <li class="bullet-item">Balansēšana 3,60 &euro;</li>
              <li class="price"> 9,40 &euro;</li>
            </ul>
          </div>
        </div>

      </div>
    </div>

    <div class="content active" id="panel2-2">
      <dl class="tabs vertical" data-tab>
        <dd class="active"><a href="#panel1b"> &gt; Kravas auto</a></dd>
        <dd><a href="#panel2b"> &gt; Komerctransports</a></dd>
        <dd><a href="#panel3b"> &gt; Agro</a></dd>
        <dd><a href="#panel4b"> &gt; Industriālais</a></dd>
      </dl>
      <div class="tabs-content vertical">
        <div id="panel1b" class="content active">
          <div class="medium-4 columns">
            <ul class="pricing-table">
              <li class="title">R17.5 - R22.5</li>
              <li class="description">Kravas automašīnu riepu montāža</li>
              <li class="bullet-item">Noņemšana 2,85 &euro;</li>
              <li class="bullet-item">Uzlikšana 2,85 &euro;</li>
              <li class="bullet-item">Demontāža 2,85 &euro;</li>
              <li class="bullet-item">Montāža 2,85 &euro;</li>
              <li class="price"> 11,40 &euro;</li>
            </ul>
          </div>
          <div class="medium-4 columns left">
            <ul class="pricing-table">
              <li class="title">R17.5 - R22.5</li>
              <li class="description">Kravas automašīnu riepu balansēšana</li>
              <li class="price"> 8,60 &euro;</li>
            </ul>
          </div>
          <div class="medium-4 columns left">
            <ul class="pricing-table">
              <li class="title">R17.5 - R22.5</li>
              <li class="description">Kravas automašīnu riepu protektora padziļināšana</li>
              <li class="price"> 14,50 &euro;</li>
            </ul>
          </div>

        </div>
        <div id="panel2b" class="content">
          <div class="medium-4 columns">
            <ul class="pricing-table">
              <li class="title">R14 - R17</li>
              <li class="description">Komerctransporta riepu montāža un balansēšana</li>
              <li class="bullet-item">Noņemšana 0,75 &euro;</li>
              <li class="bullet-item">Uzlikšana 0,75 &euro;</li>
              <li class="bullet-item">Demontāža 1,45 &euro;</li>
              <li class="bullet-item">Montāža 1,45 &euro;</li>
              <li class="bullet-item">Balansēšana 2,85 &euro;</li>
              <li class="price"> 7,25 &euro;</li>
            </ul>
          </div>
        </div>
        <div id="panel3b" class="content">
          <div class="medium-4 columns">
            <ul class="pricing-table">
              <li class="title">R8 - R15</li>
              <li class="description">Agro riepu montāža</li>
              <li class="bullet-item">Noņemšana 1,45 &euro;</li>
              <li class="bullet-item">Uzlikšana 1,45 &euro;</li>
              <li class="bullet-item">Demontāža 4,30 &euro;</li>
              <li class="bullet-item">Montāža 4,30 &euro;</li>
              <li class="price"> 11,50 &euro;</li>
            </ul>
          </div>
          <div class="medium-4 columns">
            <ul class="pricing-table">
              <li class="title">R16 - R19</li>
              <li class="description">Agro riepu montāža</li>
              <li class="bullet-item">Noņemšana 1,45 &euro;</li>
              <li class="bullet-item">Uzlikšana 1,45 &euro;</li>
              <li class="bullet-item">Demontāža 5,70 &euro;</li>
              <li class="bullet-item">Montāža 5,70 &euro;</li>
              <li class="price"> 14,30 &euro;</li>
            </ul>
          </div>
          <div class="medium-4 columns">
            <ul class="pricing-table">
              <li class="title">R20 - R22.5</li>
              <li class="description">Agro riepu montāža</li>
              <li class="bullet-item">Noņemšana 2,85 &euro;</li>
              <li class="bullet-item">Uzlikšana 2,85 &euro;</li>
              <li class="bullet-item">Demontāža 7,15 &euro;</li>
              <li class="bullet-item">Montāža  7,15 &euro;</li>
              <li class="price"> 20,00 &euro;</li>
            </ul>
          </div>
        </div>

        <div id="panel4b" class="content">
          <div class="medium-4 columns">
            <ul class="pricing-table">
              <li class="title">R8 - R16.5</li>
              <li class="description">Industriālo riepu montāža</li>
              <li class="bullet-item">Noņemšana 2,15 &euro;</li>
              <li class="bullet-item">Uzlikšana 2,15 &euro;</li>
              <li class="bullet-item">Demontāža 3,60 &euro;</li>
              <li class="bullet-item">Montāža  3,60 &euro;</li>
              <li class="price"> 11,50 &euro; *</li>
              <li class="description"> * Montāžai ar gredzenu + 2,85 &euro;  </li>
            </ul>
          </div>
          <div class="medium-4 columns">
            <ul class="pricing-table">
              <li class="title">R17.5 - R19.5</li>
              <li class="description">Industriālo riepu montāža</li>
              <li class="bullet-item">Noņemšana 2,85 &euro;</li>
              <li class="bullet-item">Uzlikšana 2,85 &euro;</li>
              <li class="bullet-item">Demontāža 5,70 &euro;</li>
              <li class="bullet-item">Montāža  5,70 &euro;</li>
              <li class="price"> 17,10 &euro;</li>
            </ul>
          </div>
          <div class="medium-4 columns">
            <ul class="pricing-table">
              <li class="title">R20 - R24</li>
              <li class="description">Industriālo riepu montāža</li>
              <li class="bullet-item">Noņemšana 2,85 &euro;</li>
              <li class="bullet-item">Uzlikšana 2,85 &euro;</li>
              <li class="bullet-item">Demontāža 11,40 &euro;</li>
              <li class="bullet-item">Montāža  11,40 &euro;</li>
              <li class="price"> 28,50 &euro;</li>
            </ul>
          </div>
        </div>

      </div>

    </div>

  </div>


</div>

</div>
{% endblock %}
